.gameContainer {
  display: grid;
  gap: var(--spacing-6);
}

.controlBar {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);

  @media (min-width: 48rem) {
    flex-direction: row;
    align-items: stretch;
    gap: var(--spacing-6);
  }
}

.terminal {
  flex: 1;
  background-color: rgb(0, 0, 0);
  color: var(--light);
  padding: var(--spacing-4) var(--spacing-6);
  line-height: 1.45;
  min-height: 2.25rem;
  border: 0.1875rem solid var(--light);
  border-radius: var(--spacing-4);
}
