:root {
  --actionbar-slot-size: 4rem;
}

.actionBar {
  display: flex;
  gap: var(--spacing-5);
  padding: var(--spacing-4);
  margin: var(--spacing-0) auto;
  background-color: var(--primary);
  border-radius: var(--spacing-4);
  box-shadow: 0 0 var(--spacing-4) 0.25rem rgb(0 0 0 / 0.25);
}

.slot {
  display: grid;
  place-content: center;
  width: var(--actionbar-slot-size);
  height: var(--actionbar-slot-size);
  background-color: var(--primary-dark);
  place-content: stretch;
  border-radius: var(--spacing-5);

  * {
    --sprite-size: calc(var(--actionbar-slot-size) * 3);
    cursor: grab !important;
  }
}
