@use 'sass:color';
@use 'sass:map';

@use '../modules/variables' as *;
@use '../modules/mixins' as *;

// Base Button
.button {
  $color: map.get($colors, 'light');
  $background-color: map.get($colors, 'primary');
  @include button-style($background-color, $color);
  @include button-border-style(var(--primary-dark), var(--border-3), var(--rounded-2));

  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-5) var(--spacing-7);
  text-transform: uppercase;
}

// Icon Button
.iconOnly {
  padding: var(--spacing-4);
  min-width: var(--spacing-9);
}
